name: HTTomolibgpu docs

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
        - name: Checkout repository code
          uses: actions/checkout@v3

        - name: Setup Python 3.10
          uses: actions/setup-python@v3
          with:
            python-version: "3.10"

        - name: httomolib
          uses: conda-incubator/setup-miniconda@v2
          with:
            auto-update-conda: false
            activate-environment: httomolibgpu
            environment-file: ./docs/source/doc-conda-requirements.yml

        - name: Build api docs
          run: sphinx-apidoc -feT -t=./docs/source/_templates -o ./docs/source/api ./httomolibgpu

        - name: Build html
          run: sphinx-build -a -E -b html ./docs/source/ ./docs/build/

        - name: Run ghp-import
          run: ghp-import -n -p -f ./docs/build
          env:
            GITHUB_TOKEN: ${{ github.token }}            
          
